[Desktop Entry]
Name=USM (Unified Slackware package Manager)
Comment=Unified Slackware Package Manager
Exec=/opt/porteus-scripts/xorg/psu /usr/bin/usmgui
Terminal=false
Icon=usm
Type=Application
Categories=System;
Version=1.0
